* {
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px; 
    margin-bottom: 20px;
    max-width: 600px;
}

.presentacion {
    border: none;
}